@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700;800&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Archivo", sans-serif;
    transition: color, background 0.2s;
}

input,
button {
    font-family: "Archivo", sans-serif;
}

button:hover {
    opacity: 0.9;
}

body.light .light-logo {
    display: block;
}
body.light .dark-logo {
    display: none;
}

body:not(.light) .dark-logo {
    display: block;
}

body:not(.light) .light-logo {
    display: none;
}

@media (min-width: 1500px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2400px) {
    html {
        font-size: 23px;
    }
}

@media (width > 768px) and (height < 1000px) {
    html {
        font-size: 13px;
    }
}
