/* Hiding without menu open */
.page-content-container div.divisor {
    display: none;
}

.user-mobile {
    display: none;
}

/* Menu open */
body.menu-open {
    overflow: hidden;

    /* Full container */
    .main-menu.show-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #2a2a2a;
        width: 100%;
        height: 100%;
        z-index: 999;
        padding: 1.5rem;
    }

    /* Username container */
    .user-mobile {
        display: block;
        position: absolute;
        top: 1.1rem;
        left: 4.5rem;
        font: 800 normal 1.125rem "Exo";
        z-index: 1000;
    }

    /* Username */
    .user-mobile p:last-of-type {
        font: 400 normal 0.875rem "Exo";
    }

    /* Define divisors */
    .page-content-container .divisor {
        display: block;
        position: absolute;
        left: 0;
        height: 1px;
        min-width: 100%;
        background-color: var(--neutral-color-3);
        z-index: 1000;
    }

    .page-content-container .divisor:nth-of-type(2) {
        top: 4.95rem;
    }

    .page-content-container .divisor:nth-of-type(3) {
        bottom: 7.25rem;
    }

    .page-content-container .divisor:nth-of-type(4) {
        bottom: 3.6rem;
    }

    /* Profile img */
    .profile-img {
        display: block;
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: white;

        top: 1rem;
        left: 1rem;
        z-index: 1000;
    }

    /* Main menu icons */
    .main-menu img {
        width: 1.1rem;
    }

    /* Dark mode switch and text */
    .tablet {
        display: block;
        position: absolute;
        z-index: 1000;
        bottom: 4.8rem;
        left: 1.5rem;
        font-size: 0.9375rem;
        font-family: "Exo", sans-serif;
    }

    /* Switch theme btn */
    #switchThemeBtn {
        position: absolute;
        left: 5.8rem;
        bottom: -0.05rem;
    }

    /* Logout btn */
    .logout-btn {
        display: block;
        position: absolute;
        bottom: 1.2rem;
        left: 1.5rem;
        color: white;
        text-decoration: none;
        font: 400 normal 0.9375rem "Exo", sans-serif;
        z-index: 1000;
    }

    /* Hide page title and subtitle */
    .tablet-title,
    .layout-options-menu div:not(:first-of-type) {
        display: none;
    }

    /* Hamburger menu button */
    .hamburger-menu {
        position: absolute;
        right: 0.6rem;
        top: 0.75rem;
        z-index: 1000;
        gap: 0.325rem;
    }

    .hamburger-menu div:first-child {
        transform: rotate(45deg);
    }

    .hamburger-menu div:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu div:last-child {
        transform: rotate(-45deg);
    }

    /* Light mode */
    body.light .main-menu.show-mobile {
        background: var(--neutral-color-5);
    }

    body.light .hamburger-menu div {
        background: var(--neutral-color-2);
    }

    body.light .profile-img {
        background: var(--neutral-color-3);
    }

    body.light .page-content-container .divisor {
        background: #e4e4e4;
    }

    body.light.menu-open .logout-btn {
        color: var(--neutral-color-3);
    }
}

@media (min-width: 700px) {
    body.menu-open {
        .hamburger-menu {
            order: 1;
        }

        /* Full container */
        .main-menu.show-mobile {
            padding: 2.5rem;
        }

        /* Username container */
        .user-mobile {
            left: 6.8rem;
        }

        /* Divisors */
        .page-content-container .divisor:nth-of-type(2) {
            top: 4.8rem;
        }

        .page-content-container .divisor:nth-of-type(3) {
            bottom: 7.35rem;
        }

        .page-content-container .divisor:nth-of-type(4) {
            bottom: 3.75rem;
        }

        /* Profile img */
        .profile-img {
            left: 0.6rem;
        }

        /* Main menu icons */
        .main-menu img {
            width: 1.5rem;
        }

        /* Dark mode switch and text */
        .tablet {
            bottom: 2.8rem;
            left: 2.5rem;
        }

        /* Switch theme btn */
        #switchThemeBtn {
            bottom: 1.1rem;
            left: 7rem;
        }

        /* Logout btn */
        .logout-btn {
            left: 2.5rem;
            bottom: 1.3rem;
        }

        /* Hamburger menu button */
        .hamburger-menu {
            right: 1.1rem;
            top: 1.3rem;
        }

        /* Adjust font sizes */
        .main-menu h3 {
            font-size: 1.25rem;
        }

        .main-menu h4 {
            font-size: 1.125rem;
        }

        /* Main pages */
        .main-menu--main-pages {
            margin-top: 7.4rem;
        }

        .main-menu--main-pages:not(:last-child) h3 {
            margin-bottom: 1.2rem;
        }

        /* Trending pages */
        .main-menu--trending {
            margin-top: 2.55rem;
            margin-bottom: 3.4rem;
        }

        .main-menu--trending > div {
            gap: 0.5rem;
        }

        .main-menu--main-pages:not(:last-child) h3 {
            margin-bottom: 1.2rem;
        }

        .main-menu--trending > div:not(:last-of-type) {
            margin-bottom: 1.1rem;
        }

        /* Popular pages */
        .main--menu-popular div {
            gap: 0.5rem;
        }

        .main--menu-popular > h3 {
            margin-bottom: 1.55rem;
        }

        .main--menu-popular > div:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}
