@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap");
@import "colors.css";

body {
    background-color: var(--neutral-color-1);
    color: var(--neutral-color-5);
}

.active-page {
    color: var(--primary-color-1);
}

/* Navbar menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-color-2);
    height: 3.125rem;
    margin-bottom: 1.35rem;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 1.2rem;
    border: 0;
    background: transparent;
    gap: 0.25rem;
    cursor: pointer;
}

.hamburger-menu div {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 0.3rem;
    transition: all 0.5s;
    transform-origin: left;
}

.logo {
    width: 6.4rem;
    margin-right: 0.7rem;
}

.logo a {
    display: block;
}

#searchIconMobile {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.search-bar {
    display: none;
}

#logoutBtn {
    display: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.navbar > .profile-img {
    display: none;
}

#user-settings {
    display: none;
}

/* Main content */
main {
    padding: 0 1rem 1.625rem 1rem;
}

main .tablet {
    display: none;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.625rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}

h2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--neutral-color-4);
    margin-bottom: 1.95rem;
}

/* Menu */
.main-menu {
    display: none;
}

.main-menu a {
    text-decoration: none;
    color: var(--neutral-color-5);
}

.main-menu--main-pages {
    margin-top: 5rem;
    margin-bottom: 1.9rem;
}

.main-menu--main-pages:not(:last-child) h3 {
    margin-bottom: 0.9rem;
}

.main-menu h3 {
    font-size: 0.9215rem;
}

.main-menu h4 {
    font-size: 0.83rem;
    font-weight: 400;
}

.main-menu--trending {
    margin-bottom: 2.5rem;
}

.main-menu--trending > div,
.main--menu-popular > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.main-menu--trending > div:not(:last-of-type),
.main--menu-popular > div:not(:last-of-type) {
    margin-bottom: 0.8rem;
}

.main--menu-popular > h3 {
    margin-bottom: 1.2rem;
}

/* Cards */
#cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.game-card {
    background-color: #303030;
    width: 18rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: width 0.5s;
    transform-origin: center;
}

.game-card--img-container {
    width: 100%;
    height: 11.2rem;
}

/* Card image */
.game-card--img-container,
.game-card--img-container img {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.game-card--img-container {
    position: relative;
    margin-bottom: 0.75rem;
}

.wrong-search-fb {
    align-self: flex-start;
}

.favoriteHeart {
    position: absolute;
    top: 0.45rem;
    right: 0.25rem;
}

/* Card body */
.game-card:hover {
    filter: opacity(0.85);
}

.game-card--body {
    padding: 0 1rem 0.6rem 1rem;
    margin-bottom: 0.5rem;
}

.game-card--body > div:not(:last-of-type),
.game-card--title-section {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.game-card--body div:not(:first-of-type) {
    line-height: 0.9rem;
}

.game-card--title-section {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.game-card--title {
    font-size: 1.5rem;
    font-weight: 700;
}

.game-card--id {
    font-family: "Exo", sans-serif;
    font-size: 1.125rem;
    color: var(--primary-color-1);
}

.game-card--info-container {
    flex-direction: column;
}

.game-card--info {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    color: var(--neutral-color-4);
    font-weight: 400;
}

.game-card--info-release {
    font-size: 0.875rem;
    font-weight: 500;
}

.game-card--info-release:first-child {
    margin-bottom: 0.35rem;
}

.game-card--info-content {
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
}

.game-card--img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.platforms-container {
    display: flex;
    margin-top: 0.8rem;
    gap: 1rem;
}

.platforms-container svg {
    width: 1.25rem;
    height: 1.25rem;
}

.platforms-container svg path {
    fill: white;
}

.placeholder {
    height: 15.5rem;
    background-image: url("/img/card-placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadingInAndOut 3s;
    animation-iteration-count: infinite;
}

@keyframes fadingInAndOut {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

/* Card info modal */
#showGameModalBackground {
    visibility: visible;
    position: absolute;
    top: 3rem;
    left: 0;
    background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 100%);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#showGameModal {
    width: 100%;
    height: 100%;
}

#showGameModal.open {
    visibility: hidden;
    height: 0;
    width: 0;
    transition: all 0.3s;
}

/* Last searches */
#lastSearches {
    cursor: pointer;
}

.lastSearchesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.latestSearchContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: max-content;
}

.noSearchText {
    width: 100%;
    align-self: flex-start;
    font-size: 1.25rem;
}

.latestSearchContainer h3:hover {
    opacity: 0.75;
}

.latestSearchContainer:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

#clearLastSearchesBtn {
    width: max-content;
    align-self: center;
    background: transparent;
    border: 1px solid var(--primary-color-1);
    color: var(--neutral-color-5);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: all 0.2s;
}

#clearLastSearchesBtn:hover {
    border: 1px solid var(--secondary-color-1);
    color: var(--neutral-color-1);
    background-color: var(--secondary-color-1);
}

/* Search bar */
.search-bar > input {
    width: 100%;
    padding: 0.95rem 0.5rem 0.95rem 2.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
}

.search-bar > input:focus-visible {
    outline: none;
}

#searchIcon {
    width: 1.5rem;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
}

#clearSearchBtn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}

.search-bar.open-mobile {
    display: block;
    position: absolute;
    top: 3.625rem;
    left: 0.5rem;
    right: 0.5rem;
}

/* Logout Modal */
#logoutModal[open] {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.75rem;
}

#logoutModal::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

#logoutModalX {
    align-self: flex-end;
    cursor: pointer;
}

#logoutModal:focus-visible {
    outline: none;
}

#logoutModal h2 {
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

#logoutModal h5 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

#logoutModal .primary-button {
    padding: 0.5rem;
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

#cancelLogout {
    font-size: 0.95rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media (500px < width < 700px) {
    .game-card {
        width: 27.5rem;
    }
}

/* Tablet size */
@media (min-width: 700px) {
    .navbar {
        height: 5rem;
        justify-content: flex-end;
        margin-bottom: 2.9rem;
    }

    .logo {
        width: 8.3rem;
        margin: 0 auto 0 0.58rem;
    }

    .navbar > .profile-img {
        display: block;
        width: 3rem;
        height: 3rem;
        order: 2;
        border-radius: 50%;
        background: white;
        margin-right: 1.5rem;
        margin-left: 2.2rem;
    }

    main {
        padding: 0 1.5rem 2rem 1.5rem;
    }

    main .mobile {
        display: none;
    }

    main .tablet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.95rem;
    }

    .tablet-title h1 {
        font-size: 3rem;
        margin-bottom: 0.7rem;
    }

    .tablet-title h2 {
        font-size: 1.125rem;
    }

    .layout-options-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #switchThemeBtn {
        cursor: pointer;
    }

    .layout-options-menu div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.2rem;
        margin-top: -0.3rem;
    }

    .layout-options-menu div:first-of-type {
        font-size: 0.9375rem;
        align-self: flex-start;
        gap: 0.8rem;
    }

    #cardsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .placeholder {
        height: 19.5rem;
    }

    .game-card {
        width: 22rem;
        position: relative;
    }

    .game-card--img-container {
        height: 11.1rem;
        margin-bottom: 1.1rem;
    }

    .game-card--title-section {
        margin-bottom: 1.7rem;
    }

    .game-card--title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .game-card--body {
        display: flex;
        padding: 0 1rem 0.45rem 1rem;
    }

    .game-card--info {
        justify-content: flex-start;
        gap: 0;
    }

    .game-card--info-release {
        width: 6.5rem;
    }

    .game-card--info-content:first-of-type {
        width: 6.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .game-card--info:last-of-type .game-card--info-content {
        width: 14rem;
    }

    .platforms-container {
        display: block;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        max-width: 6.8rem;
        bottom: 2.9rem;
        right: 0.97rem;
    }

    .platforms-container svg {
        width: 1rem;
    }

    .platforms-container svg:not(:last-of-type) {
        margin-right: 0.7rem;
    }

    .platforms-container svg:nth-child(n + 5) {
        display: none;
    }

    .game-card:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0.6rem;
    }

    #fading-bottom {
        position: fixed;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.75rem;
    }

    .search-bar.open-mobile {
        display: block;
        position: absolute;
        top: 1rem;
        right: 9.9rem;
        left: 15.5rem;
    }

    #singleColumnBtn,
    #multipleColumnsBtn {
        cursor: pointer;
    }

    #singleColumnBtn path,
    #multipleColumnsBtn path {
        transition: all 0.5s;
        fill: #707070;
    }

    #cardsContainer.multipleColumns .game-card {
        width: 43.5rem;
    }

    #cardsContainer.multipleColumns .game-card--img-container {
        height: 19.88rem;
    }

    /* Logout Modal */
    #logoutModal {
        max-width: 65%;
    }

    #logoutModalX {
        width: 2rem;
        height: 2rem;
    }

    #logoutModal h2 {
        font-size: 1.25rem;
        margin-bottom: 0.85rem;
    }

    #logoutModal h5 {
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }

    #logoutModal .primary-button {
        font-size: 1rem;
        padding: 0.8rem;
    }

    #cancelLogout {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    .navbar {
        height: 4.95rem;
    }

    .hamburger-menu {
        display: none;
    }

    .logo a {
        line-height: 1.5rem;
    }

    .logo {
        width: 11.125rem;
        margin: 0 auto 0 0.65rem;
    }

    #searchIconMobile {
        display: none;
    }

    .search-bar {
        display: block;
        position: relative;
        width: 22.4rem;
        margin-right: auto;
    }

    #logoutBtn {
        color: var(--primary-color-5);
        text-decoration: none;
    }

    .navbar .profile-img {
        margin-right: 2.5rem;
        margin-left: 0.9rem;
    }

    main {
        padding: 0 2.5rem 2rem 2.5rem;
    }

    main .tablet {
        margin-bottom: 0.2rem;
    }

    #cardsContainer.multipleColumns .game-card {
        width: 43.5rem;
    }

    #cardsContainer.multipleColumns .game-card--img-container {
        height: 19.88rem;
    }

    .page-content-container {
        display: flex;
        gap: 4rem;
    }

    .main-menu {
        display: block;
        min-width: max-content;
    }

    .main-menu h3 {
        font-size: 1.25rem;
    }

    .main-menu h4 {
        font-size: 1.125rem;
    }

    .main-menu--main-pages {
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .main-menu--main-pages:not(:last-child) h3 {
        margin-bottom: 1.2rem;
    }

    .main-menu--trending > div,
    .main--menu-popular > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .main-menu--trending {
        margin-bottom: 3.4rem;
    }

    .main-menu--trending > div:not(:last-of-type),
    .main--menu-popular > div:not(:last-of-type) {
        margin-bottom: 1.08rem;
    }

    .main--menu-popular > h3 {
        margin-bottom: 1.5rem;
    }

    #cardsContainer {
        gap: 1.5rem;
    }

    .game-card {
        width: 22.4rem;
    }

    .game-card:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0;
    }

    .layout-options-menu div:last-of-type {
        margin-top: 0.45rem;
    }

    #logoutBtn {
        display: block;
    }

    /* Last searches */
    .lastSearchesContainer {
        flex-direction: column;
    }

    #clearLastSearchesBtn {
        font-size: 1.25rem;
        padding: 0.75rem;
    }

    .latestSearchContainer {
        margin-left: 4rem;
    }

    /* Logout Modal */
    #logoutModal {
        max-width: 27%;
    }

    #logoutModalX {
        width: 1.5rem;
        height: 1.5rem;
    }

    #logoutModal h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #logoutModal h5 {
        font-size: 1rem;
        padding: 0 1rem 0 1rem;
    }

    #logoutModal .primary-button {
        font-size: 1.125rem;
        padding: 0.8rem;
    }

    #cancelLogout {
        font-size: 1.125rem;
        padding-bottom: 1rem;
    }
}

/* Light Mode */
body.light {
    background-color: #f0f0f0;
    color: var(--neutral-color-2);

    .navbar {
        background-color: #eaeaea;
    }

    #searchIconMobile path {
        fill: var(--neutral-color-2);
    }

    .main-menu a {
        color: var(--neutral-color-2);
    }

    .game-card {
        background-color: var(--neutral-color-5);
        box-shadow: 0px 0px 7px 0px rgba(106, 106, 106, 0.25);
    }

    .platforms-container svg path {
        fill: var(--neutral-color-3);
    }

    .game-card--info-content {
        color: var(--neutral-color-2);
    }

    /* Switch layout SVG's light mode */
    #multipleColumnsBtn path,
    #singleColumnBtn path {
        fill: #c4c4c4;
    }

    #multipleColumnsBtn rect,
    #singleColumnBtn rect {
        fill: #e1e1e1;
    }

    #multipleColumnsBtn.active path,
    #singleColumnBtn.active path {
        fill: var(--neutral-color-3);
    }

    #fading-bottom {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            #f0f0f0 100%
        );
    }

    #clearLastSearchesBtn {
        color: black;
    }
}

/* Switch layout SVG's dark mode */
#multipleColumnsBtn.active path,
#singleColumnBtn.active path {
    fill: #fffdf5;
}
