@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "colors.css";

* {
    box-sizing: content-box;
}

body {
    background-image: url("../img/login/bg_dark.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--neutral-color-5);
    display: flex;
    justify-content: end;
    align-items: center;
    line-height: 1.225rem;
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 1.55rem;
    left: 1.375rem;
    width: 11.125rem;
}

button {
    color: var(--neutral-color-5);
}

.login-card {
    position: relative;
    border-radius: 0.75rem;
    width: 22.625rem;
    height: max-content;
    padding: 2.5rem 3.125rem;
    margin-right: 6.25rem;
    margin-top: 2.2rem;
}

.login-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(23, 23, 23, 0.8);
    border-radius: 0.75rem;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
}

/* TEXT SECTION */
h1 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.363rem;
    margin: 0;
    margin-bottom: 1.1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 2.35rem;
    line-height: 1.09rem;
}

/* FORM ELEMENTS */
/* PASSWORD */
.password-container {
    position: relative;
    margin-top: 1rem;
}

#password {
    box-sizing: border-box;
    width: 100%;
    padding-right: 2.5rem;
    width: 100%;
}

#password[type="password"]:not(:placeholder-shown) {
    font-size: 1rem;
    padding: 0.94rem 2.2rem 0.94rem 1rem;
}

.password-container svg {
    position: absolute;
    width: 1.5rem;
    top: 49%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 0.5rem;
}

form input {
    border-radius: 4px;
    padding: 1rem 1rem;
    border: none;
    color: #3d3d3d;
    font-size: 0.875rem;
}

form input:focus-visible {
    outline: 1px solid var(--primary-color-1);
}

.feedback {
    display: none;
    color: #ff0000;
    font-size: 0.875rem;
    margin-top: 0.4rem;
}

input.invalid,
input.invalid,
input.invalid:focus-visible {
    outline: 1px solid #ff0000;
}

.password-container svg.invalid path {
    fill: #ff0000;
}
/* PASSWORD DATA */
#rememberPwd {
    visibility: hidden;
    position: absolute;
}

.forgot-password-link {
    color: var(--primary-color-1);
    text-decoration: none;
    line-height: 1.4rem;
}

.password-details-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    margin-top: 0.8rem;
}

#remember-info-label {
    display: flex;
    align-items: center;
}

#remember-info-label svg {
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    align-self: start;
}

#remember-info-label svg:nth-of-type(2) {
    display: none;
}

#loginBtn {
    margin-bottom: 1.975rem;
    padding: 0.85rem 1.125rem;
}

.register-section {
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    margin-bottom: 1.45rem;
}

.register-section p {
    margin-left: 4rem;
}

.register-section a {
    color: var(--primary-color-1);
    text-decoration: none;
    margin-right: 3.78rem;
}

/* DIVISOR */
.divisor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.85rem;
}

.divisor hr {
    width: 100%;
    transform: scaleY(0.5);
    align-self: flex-end;
}

.divisor span {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    margin: 0 1.6rem;
}

/* SOCIAL MEDIA LOGIN */
.social-media-login {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.social-media-login button {
    background-color: transparent;
    border: 2px solid white;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0.72rem 0 0.72rem 6.35rem;
    border-radius: 0.375rem;
    text-align: left;
    cursor: pointer;
}

.social-media-login div {
    position: relative;
    display: inline-grid;
}

.social-media-login div svg {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(50%);
    left: 3.69rem;
    width: 1.5rem;
}

/* RESPONSIVENESS */
/* Mobile screen */
@media (320px <= width <= 767px) {
    body {
        justify-content: center;
    }

    .logo {
        align-self: center;
        left: 50%;
        transform: translateX(-55%);
        top: 1.05rem;
        width: 12.5rem;
    }

    .login-card {
        width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 7.8rem 1rem 3rem 1rem;
    }

    .login-card::before {
        border-radius: 0;
    }

    h1 {
        margin-bottom: 0.32rem;
    }

    h2 {
        font-size: 0.875rem;
        margin-bottom: 2.3rem;
    }

    form input {
        padding: 1rem 0.8rem;
    }

    .password-container {
        margin-bottom: 0.975rem;
    }

    #remember-info-label svg {
        margin-right: 0.6rem;
    }

    .password-details-container {
        margin-bottom: 1.75rem;
    }

    .register-section {
        justify-content: space-between;
        padding: 0 2.1rem;
        margin-bottom: 1.05rem;
    }

    .register-section p {
        margin-left: 0.3rem;
    }

    .register-section a {
        margin-right: 0rem;
    }

    .divisor {
        margin-bottom: 0.95rem;
    }

    .divisor span {
        margin: 0 1.2rem;
    }

    .social-media-login {
        row-gap: 0.89rem;
    }

    .social-media-login button {
        font-size: 0.875rem;
        padding: 0.92rem 0 0.92rem 4.9rem;
    }

    .social-media-login div svg {
        left: 2.9rem;
    }
}

@media (380px < width < 526px) and (height > 700px) {
    .login-card {
        padding: 7.8rem 1rem 50% 1rem;
    }
}

@media (380px < width < 526px) and (height > 875px) {
    .login-card {
        padding: 7.8rem 1rem 55% 1rem;
    }
}

@media (526px <= width < 768px) {
    body {
        justify-content: center;
    }

    .login-card {
        margin: 20% 10%;
        border-radius: 0.5rem;
        padding: 3rem;
    }

    .login-card::before {
        border-radius: 0.5rem;
    }

    .register-section {
        justify-content: center;
        gap: 1rem;
    }
}

/* Tablet screen */
@media (768px <= width <= 992px) {
    body {
        justify-content: center;
    }

    .login-card {
        margin: 0;
        margin-top: 5rem;
    }

    .logo {
        align-self: center;
        left: 50%;
        transform: translateX(-55%);
        top: 2.9rem;
        width: 14.375rem;
    }
}

/* Desktop screens */
@media (992px <= width <= 1200px) {
    html {
        font-size: 15px;
    }

    body {
        justify-content: center;
    }

    .login-card {
        margin: 20% 20% 10% 20%;
    }

    .logo {
        align-self: center;
        left: 50%;
        transform: translateX(-55%);
        top: 2.9rem;
        width: 14.375rem;
    }
}

@media (width >= 1500px) {
    #password[type="password"]:not(:placeholder-shown) {
        font-size: 1rem;
        padding: 0.93rem 2.2rem 0.93rem 1rem;
    }
}

@media (width >= 1800px) {
    body {
        background-image: url("../img/login/bg_dark_2x.png");
    }
}

/* LIGHT THEME */
body.light {
    background-image: url("../img/login/bg_light.png");
    color: var(--neutral-color-3);

    .login-card::before {
        background-color: rgba(240, 240, 240, 0.8);
    }

    #remember-info-label svg:first-of-type rect {
        stroke: #8f8f8f;
    }

    .divisor hr {
        background-color: black;
    }

    .social-media-login button {
        border-color: var(--primary-color-1);
        color: var(--primary-color-1);
    }

    .social-media-login svg path {
        fill: var(--primary-color-1);
    }
}
